@if (data$ | async; as data) {
    <div class="auth-page">
      <div class="container page">
        <div class="row">
          <div class="col-md-6 offset-md-3 col-xs-12">
            <h1 class="text-xs-center">Sign Up</h1>
            <p class="text-xs-center">
              <a routerLink="/login">Have an account already?</a>
            </p>
            @if (data.backEndError) {
                <mc-backend-error-messages
                [backendErrors]="data.backEndError"
                ></mc-backend-error-messages>
            }
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <fieldset>
                <fieldset class="form-group">
                  <input
                    class="form-control form-control-lg"
                    type="text"
                    placeholder="Username"
                    autocomplete="username"
                    formControlName="username"
                  />
                </fieldset>
                <fieldset class="form-group">
                  <input
                    class="form-control form-control-lg"
                    type="text"
                    placeholder="Email"
                    autocomplete="email"
                    formControlName="email"
                  />
                </fieldset>
                <fieldset class="form-group">
                  <input
                    class="form-control form-control-lg"
                    type="password"
                    placeholder="Password"
                    autocomplete="current-password"
                    formControlName="password"
                  />
                </fieldset>
                <button
                  type="submit"
                  class="btn btn-lg btn-primary pull-xs-right"
                  [disabled]="data.isSubmitting"
                >
                  Sign up
                </button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
}
